canvas {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#legend {
  margin-top: 4rem;
}

.tip {
	position: absolute;
	display: none;
	background-color: black;
	border: 2px solid white;
}