body {
  background-color: black;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
table th,
strong { color: inherit; }

table {
  margin: 2rem auto;
  color: white;
}

td { padding: 0.25rem 1rem; }

canvas {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#legend {
  margin-top: 4rem;
}

.tip {
	position: absolute;
	display: none;
	background-color: black;
	border: 2px solid white;
}