<<<<<<< HEAD
<<<<<<< HEAD
nav ul a,
nav .brand-logo {
  color: #444;
=======
body {
	background-color: #777;
}

.site-header {
	background-color: #333;
=======
:root{
	--grey: #777;
	--darkgrey: #333;
}

body {
	background-color: var(--grey);
}

.site-header {
	background-color: var(--darkgrey);
>>>>>>> development
}

.site-footer {
	color: white;
<<<<<<< HEAD
	background-color: #333;
=======
	background-color: var(--darkgrey);
>>>>>>> development
	padding: 3rem 1rem 4rem;
	text-align: center;
	margin-top: 3rem;
}

<<<<<<< HEAD
=======
.menu a {
	color: white;
}

.menu a:hover {
	color: #3ADB76;
}

.menu a.is-active {
	color: #FFAE00;
}

.accordion, .cell {
	border-radius: 4px;
}

.accordion-title, :last-child:not(.is-active)>.accordion-title {
	border: 0;
	border-radius: 4px;
}

.tabs {
	border-radius: 4px 4px 0 0;
}

.tabs-content {
	border-radius: 0 0 4px 4px;
}

.button.is-light {
	background-color: #60B3EA;
}

>>>>>>> development
.fotorama {
	margin: 2rem 0;
}

.fotorama__wrap {
	margin: 0 auto;
}

#searchBar {
	background-color: #666;
	text-align: center;
	margin-bottom: 2rem;
	padding: 1rem 0;
<<<<<<< HEAD
=======
	color: white;
>>>>>>> development
}

#searchParks .field.is-grouped {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
>>>>>>> development
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #3E3E3F;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



.row1{
  color: white;
margin: 70px 10px 20px 30px;
padding: 0px;
}


.row{
  background-color: pink
}

.logo {
    height: 150px;
    background-color: white;
    box-shadow: none;
}

<<<<<<< HEAD

nav ul a, nav .brand-logo {
  color: black;
=======
#infobox {
  background-color: transparent;
  color: white;
  margin: 30px 25px 25px;
  box-shadow: none;
}

#infobox .tab.is-active {
	background-color: orange;
}

#infobox .tabs a {
	border-bottom: 0;
}

#tabContentContainers {
	border: 1px solid gainsboro;
	padding-top: 0;
}

<<<<<<< HEAD
#tabContentContainers tr:nth-child(1n+2) {
	border-top: 2px solid gainsboro;
}

.activity-box {
	display: block;
	margin: 1rem;
	padding: 1rem;
=======
#infobox {
  background-color: transparent;
  color: white;
  margin: 30px 25px 25px;
  box-shadow: none;
}

#infobox .tab.is-active {
	background-color: orange;
}

#infobox .tabs a {
	border-bottom: 0;
}

#tabContentContainers {
	border: 1px solid gainsboro;
	padding-top: 0;
}

#tabContentContainers tr:nth-child(1n+2) {
	border-top: 2px solid gainsboro;
}

.activity-box {
	display: block;
	margin: 1rem;
	padding: 1rem;
}

.activity-box h1 {
	font-weight: bold; 
	font-size: larger;
>>>>>>> development
}

.activity-box h1 {
	font-weight: bold; 
	font-size: larger;
>>>>>>> development
}


.select-wrapper input.select-dropdown, input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: white;
}

<<<<<<< HEAD
.page-footer .footer-copyright {
  background-color: #3E3E3F;
}

<<<<<<< HEAD
.page-footer{
  background-color: #4e4e4e;
}
=======
=======
>>>>>>> development
.note {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
>>>>>>> development
