:root{
	--grey: #777;
	--darkgrey: #333;
	--darkblue: #151521;
	--danger: rgb(220, 20, 60);
	--dangerlight: #fbdee4;
	--warning: #ffad00;
	--warninglight: #fff3dd;
	--success: #3ADB76;
	--info: deepskyblue;
	--lightblue: #81c2ee;
	/*--active: #FFAE00;*/
	--active: #ffdf00;
}

/* GENERAL */
body {
	position: relative;
	background: url('../img/klemen-vrankar--unsplash.jpg'), var(--grey);
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.note {
	font-size: 0.8rem;
	color: var(--grey);
	font-style: italic;
	padding: 0.5rem;
}

/*.table tbody td {
	padding: 0;
}*/

.has-text-white { color: white !important; }
.has-text-black { color: black !important; }
.has-text-danger { color: var(--danger); }
.is-danger { background-color: var(--danger); color: white; }
.has-text-success { color: var(--success); }
.is-success { background-color: var(--success); }
.has-text-info { color: var(--info); }
.is-info { background-color: var(--info); }

.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }

.fa-siren,
.fa-siren-on { margin-right: 0.75rem; }

/* HEADER & NAV */
.title-bar-title {
	display: flex;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	justify-content: space-between;
}

.title-bar-title a {
	flex: 1 0 auto;
}

.title-bar img {
	position: relative;
	display: inline-block;
	max-width: 150px;
	right: -30px;
}

.top-bar ul {
	background-color: transparent;
	margin: 0 auto;
}

.site-header {
	/*background-color: var(--darkgrey);*/
	background-color: rgba(21, 21, 33, 0.95);
}

.menu a {
	color: white;
	font-size: 1.5rem;
	/*margin: 0 3rem;*/
	border-bottom: 2px solid transparent;
	transition: all 0.3s ease-out;
}

.menu li:not(:nth-child(3)):hover a,
.menu li:not(:nth-child(3)):focus a {
	color: var(--active);
	border-bottom: 3px solid var(--active);
}

.menu a.is-active {
	color: var(--success);
	border-bottom: 3px solid var(--success);
}

/* SEARCH BAR */
#searchBar {
	/*background-color: #666;*/
	background-color: rgba(43, 43, 79, 1);
	text-align: center;
	padding: 1rem 0;
	color: white;
}

#searchParks {
	display: inline-block;
	margin: 0 auto;
}

#searchParks .field.is-grouped {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

#searchParks .field > div {
	display: inline-block;
}

input[type="date"] {
	flex: 1;
	/*height: 100%;*/
	font-size: 1rem;
}

/* Alert icons (Park Alerts, NeoWs Alerts) */
#parkAlerts,
#neoAlerts {
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	margin: 0 1rem;
	padding-top: 0.5rem;
	vertical-align: middle;
}

/* number of alerts, displayed next to icon */
#parkAlerts span,
#neoAlerts span {
	position: absolute;
	top: 12px;
	padding: 0 0.4rem;
	border-radius: 0.2rem;
	font-size: 0.8rem;
}

#parkAlerts span {
	right: -13px;
}

/* MAIN (star chart / park details) */
#site-content {
	padding-top: 1rem;
	background: linear-gradient(to bottom, rgba(43, 43, 79, 0.75), rgba(0,0,0,0.8) 70%);
}

main.columns:not(:last-child) {
	margin-bottom: 0;
}

main > table {
	margin: 0 auto;
	max-width: 90%;
}

/* ACCORDION & TABS (park / astronomy infoboxes) */
.accordion, .cell {
	border-radius: 4px;
}

.accordion-title, :last-child:not(.is-active) > .accordion-title {
	border: 0;
	border-radius: 4px;
}

.tabs {
	border-radius: 4px 4px 0 0;
	font-size: 1rem;
}

.tabs-title > a {
	font-size: 1rem;
	color: black;
	font-weight: bold;
	/*font-size: 1.3rem;*/
}

.tabs-title:hover > a {
	background-color: var(--active);
	color: black;
	/*color: white;*/
}

.tabs-content {
	border-radius: 0 0 4px 4px;
}

#infobox .tabs-title.is-active a[aria-selected=true] {
	background-color: var(--success);
	color: white;
	font-weight: bold;
}

#infobox .tabs a {
	border-bottom: 0;
}

#tabContentContainers {
	border: 1px solid gainsboro;
	padding-top: 0;
}

/* INFOBOX, General (park & astronomy) */
#infobox {
  background-color: transparent;
  color: white;
  margin: 0 25px 30px 25px;
  box-shadow: none;
}

/* PARK INFOBOX (specifically) */
#parkInfo {
	margin-left: 4rem;
}

#parkName {
	margin-bottom: 2rem;
}

#parkName,
#parkInfo tbody tr > th {
	color: white;
	text-align: center;
}

#entranceFees tr td,
#entrancePasses tr td,
#operatingHours tr td,
#weather {
	border: 0;
	padding: 0.30rem 1rem;
}

#entranceFees tr:first-child,
#entranceFees tr:nth-child(3),
#entranceFees tr:nth-child(5),
#entranceFees tr:nth-child(7),
#entranceFees tr:nth-child(9),
#entranceFees tr:nth-child(11),
#entranceFees tr:nth-child(13),
#entrancePasses tr:first-child,
#entrancePasses tr:nth-child(3),
#entrancePasses tr:nth-child(5),
#entrancePasses tr:nth-child(7),
#entrancePasses tr:nth-child(9),
#entrancePasses tr:nth-child(11),
#entrancePasses tr:nth-child(13) {
	font-weight: bold;
}

#entranceFees tr:nth-child(2) td,
#entranceFees tr:nth-child(4) td,
#entranceFees tr:nth-child(6) td,
#entranceFees tr:nth-child(7) td,
#entranceFees tr:nth-child(10) td,
#entranceFees tr:nth-child(12) td,
#entranceFees tr:nth-child(14) td,
#entrancePasses tr:nth-child(2) td,
#entrancePasses tr:nth-child(4) td,
#entrancePasses tr:nth-child(6) td,
#entrancePasses tr:nth-child(7) td,
#entrancePasses tr:nth-child(10) td,
#entrancePasses tr:nth-child(12) td,
#entrancePasses tr:nth-child(14) td {
	padding-bottom: 1rem;
}

#entranceFees tr:nth-child(3),
#entranceFees tr:nth-child(4),
#entranceFees tr:nth-child(7),
#entranceFees tr:nth-child(8),
#entranceFees tr:nth-child(11),
#entranceFees tr:nth-child(12),
#entrancePasses tr:nth-child(3),
#entrancePasses tr:nth-child(4),
#entrancePasses tr:nth-child(7),
#entrancePasses tr:nth-child(8),
#entrancePasses tr:nth-child(11),
#entrancePasses tr:nth-child(12) {
    background-color: gainsboro;
}

#operatingHours p {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

#contactInfo td {
	padding: 0.25rem 0;
}

/* NPS stargazing activities ("things to do") */
.activity-box {
	display: block;
	margin: 1rem;
	padding: 1rem;
}

.activity-box h1 {
	font-weight: bold; 
	font-size: larger;
}

/* FOTORAMA (park details gallery) */
.fotorama {
	margin: 2rem 0;
	padding: 1rem;
	background-color: black;
}

.fotorama__wrap {
	margin: 0 auto;
}

.fotorama .credit {
	font-weight: bold;
	font-style: italic;
}

/* BUTTONS */
.button { color: black; }
.button.is-light {
	background-color: var(--lightblue);
	color: black;
}

/* FOOTER, bg photo credit */
#bg-photo-credit {
	margin-top: 3rem;
	margin-right: 1rem;
}

#bg-photo-credit span {
	display: inline-block;
	width: 100%;
	text-align: right;
	margin: 0;
	padding: 0;
}

.site-footer {
	color: white;
	background-color: var(--darkblue);
	padding: 3rem 1rem;
	text-align: center;
}

/* MODALS ("reveal") */
.reveal {
	border-radius: 4px;
}

.modal-content {
	margin-top: 1.5rem;
}

.message {
	margin: 0.5rem 0.25rem;
	border-radius: 6px;
}

.message + .message {
	margin-top: 1rem;
}

.message-header {
	background-color: black;
	color: white;
	padding: 0.25rem 0.25rem 0.25rem 1rem;
	font-size: 1.5rem;
	border-radius: 4px 4px 0 0;
}

.message-header i {
	margin-right: 0.75rem;
	/*margin-left: 0.75rem;*/
}

.message-body {
	background-color: darkgrey;
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 0 0 4px 4px;
}

.message.is-danger .message-header {
	background-color: var(--danger);
}

.message.is-danger .message-body {
	background-color: var(--dangerlight);
}

.message.is-warning .message-header {
	background-color: var(--warning);
}

.message.is-warning .message-body {
	background-color: var(--warninglight);
}

.message.is-success .message-header {
	background-color: forestgreen;
	padding-left: 1rem;
}

.message.is-success .message-body {
	background-color: #dcf7dc;
}

.message.is-info .message-header {
	background-color: deepskyblue;
}

.message.is-info .message-body {
	background-color: #ddf5ff;
}

.neo-modal p + p {
	padding-top: 1rem;
	border-top: 1px solid;
	border-image-source: linear-gradient(to right, rgba(34, 97, 34, 0), rgba(34, 97, 34, 1) 30%, rgba(34, 97, 34, 1) 60%, rgba(34, 97, 34, 0));
	border-image-slice: 1;
}

#starChart {
	overflow: hidden;
}

@media screen and (min-width: 769px) {
	.modal-content {
		min-width: 50%;
	}
}

@media all and (max-width: 670px) {
	#searchParks {
		width: 100%;
		display: black;
	}
}

@media all and (max-width: 799px) {
	#starChart {
		position: relative;
		overflow: hidden;
	}
}

@media all and (min-width: 800px) {
	#toggleStarChartContainer {
		display: none;
	}
}