<nav class="level">
  <p class="level-item has-text-centered">
    <a class="navbar-item is-active" href="index.html">
      Home
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="navbar-item" href="parkinfo.html">
      Park Info
    </a>
  </p>
  <p id="logo" class="level-item has-text-centered">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logot.png" alt="Park Sky" width="300">
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="navbar-item" href="starchart.html">
      Star Chart
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="navbar-item" href="https://github.com/vantango/uw-project1-parksky-app" target="_blank">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span> &nbsp; Github
    </a>
  </p>
</nav>
<div class="hero-body">
  <form id="searchParks" class="has-text-centered py-5">
    <p><strong>Select your park:</strong></p></br>
    <div class="field is-grouped">
      <div class="control has-icons-left">
        <span class="select">
          <select name="searchParksSelect" id="searchParksSelect">
            <option value="acad" selected>Acadia National Park</option>
            <option value="arch">Arches National Park</option>
            <option value="badl">Badlands National Park</option>
            <option value="bibe">Big Bend National Park</option>
            <option value="bisc">Biscayne National Park</option>
            <option value="blca">Black Canyon of the Gunnison National Park</option>
            <option value="brca">Bryce Canyon National Park</option>
            <option value="cany">Canyonlands National Park</option>
            <option value="care">Capitol Reef National Park</option>
            <option value="cave">Carlsbad Caverns National Park</option>
            <option value="chis">Channel Islands National Park</option>
            <option value="cong">Congaree National Park</option>
            <option value="crla">Crater Lake National Park</option>
            <option value="cuva">Cuyahoga Valley National Park</option>
            <option value="dena">Denali National Park</option>
            <option value="deva">Death Valley National Park</option>
            <option value="drto">Dry Tortugas National Park</option>
            <option value="ever">Everglades National Park</option>
            <option value="jeff">Gateway Arch National Park</option>
            <option value="gaar">Gates of the Arctic National Park</option>
            <option value="glba">Glacier Bay National Park</option>
            <option value="glac">Glacier National Park</option>
            <option value="grca">Grand Canyon National Park</option>
            <option value="grte">Grand Teton National Park</option>
            <option value="grba">Great Basin National Park</option>
            <option value="grsa">Great Sand Dunes National Park</option>
            <option value="grsm">Great Smoky Mountains National Park</option>
            <option value="gumo">Guadalupe Mountains National Park</option>
            <option value="hale">Haleakal&#257; National Park</option>
            <option value="havo">Hawai'i Volcanoes National Park</option>
            <option value="hosp">Hot Springs National Park</option>
            <option value="indu">Indiana Dunes National Park</option>
            <option value="isro">Isle Royale National Park</option>
            <option value="jotr">Joshua Tree National Park</option>
            <option value="katm">Katmai National Park</option>
            <option value="kefj">Kenai Fjords National Park</option>
            <!-- <option value="kica">King's Canyon National Park</option> NOTHING FROM API -->
            <option value="kova">Kobuk Valley National Park</option>
            <option value="lacl">Lake Clark National Park</option>
            <option value="lavo">Lassen Volcanic National Park</option>
            <option value="maca">Mammoth Cave National Park</option>
            <option value="meve">Mesa Verde National Park</option>
            <option value="mora">Mount Rainier National Park</option>
            <option value="npsa">National Park of American Samoa</option>
            <option value="noca">North Cascades National Park</option>
            <option value="olym">Olympic National Park</option>
            <option value="pefo">Petrified Forest National Park</option>
            <option value="pinn">Pinnacles National Park</option>
            <option value="redw">Redwood National Park</option>
            <option value="romo">Rocky Mountain National Park</option>
            <option value="sagu">Saguaro National Park</option>
            <option value="seki">Sequoia and Kings Canyon National Parks</option>
            <option value="shen">Shenandoah National Park</option>
            <option value="thro">Theodore Roosevelt National Park</option>
            <option value="viis">Virgin Islands National Park</option>
            <option value="voya">Voyageurs National Park</option>
            <option value="whsa">White Sands National Park</option>
            <option value="wica">Wind Cave National Park</option>
            <option value="wrst">Wrangell-Saint Elias National Park</option>
            <option value="yell">Yellowstone National Park</option>
            <option value="yose">Yosemite National Park</option>
            <option value="zion">Zion National Park</option>
          </select>
        </span>
      </div>
      <div class="control">
        <!-- can't set "today's date in HTML", it would be static -->
        <input id="visitDate" type="date">
      </div>
    </div>
  </form>
  <div id="parkAlerts"><i class="fas fa-exclamation-triangle"></i><span>0</span></div>
  <div id="neoAlerts"><i class="fas fa-meteor"></i><span>0</span></div>
</div>