<table id="parkInfo">
  <thead>
    <tr>
      <th id="parkName"></th>
    </tr>
  </thead>
  <tbody>
    <!-- Fees -->
    <tr>
      <th>Entrance Fees</th>
    </tr>
    <tr>
      <td>
        <div id="entranceFees"></div>
      </td>
    </tr>
    <!-- Passes -->
    <tr>
      <th>Entrance Passes</th>
    </tr>
    <tr>
      <td>
        <div id="entrancePasses"></div>
      </td>
    </tr>
    <!-- Operating Hours -->
    <tr>
      <th>Operating Hours</th>
    </tr>
    <tr>
      <td>
        <div id="operatingHours"></div>
      </td>
    </tr>
    <!-- Contact Info -->
    <tr>
      <th>Contact Information</th>
    </tr>
    <tr>
      <td>
        <div id="contactInfo"></div>
      </td>
    </tr>
    <!-- Weather -->
    <tr>
      <th>Weather Info</th>
    </tr>
    <tr>
      <td id="weather"></td>
    </tr>
  </tbody>
</table>