<div class="box">
  <h1 class="is-size-3 has-text-centered">Rise and Set Times of Celestial Objects</h1>
  <h2><strong>Location:</strong> <span id="riseSetPlace1"></span></h2>
  <p><strong>Latitude:</strong> <span id="riseSetlat1"></span><strong>Longitude:</strong><span id="riseSetlong1"></span></p>
  <p><strong>Date:</strong> <span id="riseSetDate1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Time zone:</strong> <span id="riseSetTtimeZone1"></span></p>
  <br />
  <p class='note'>Note that azimuth is measured from north, turning positive to the east.</p>
  <br />
  <h3 class="is-size-4 has-text-centered">Sunrise, Sunset, Upper Transit and Twilights</h3>
  <div id="riseSetSun1">
  </div>
  <br />
  <h3 class="is-size-4 has-text-centered">Moonrise, Moonset, Upper Transit and Illumination</h3>
  <div id="riseSetMoon1">
  </div>
  <br />
  <h3 class="is-size-4 has-text-centered">Rise, Set, Upper Transit Times of Planets</h3>
  <div id="riseSetPlanets1">
  </div>
  <br />
  <h3 class="is-size-4 has-text-centered">Rise, Set and Upper Transit Times of Bright Stars</h3>
  <div id="riseSetStars1"></div>
</div>